body{
    background-color: rgb(36, 37, 35);/*zmena barvy pozadi-*/
}

.boxnahore{
    
    height: auto;/*vyska ctverce*/
    background-color: rgb(41, 32, 167);/*barva ctverce*/
    
    border: solid 20px   rgb(33, 123, 196);/*okraje a barva okraje*/
    border-radius: 25px;/*zaobleni okraje*/
    display: flex;/*flexibilni*/
}

.bigbox{
    height:500px;/*vyska ctverce*/
    border-radius: 25px;/*zaobleni okraje*/
    background-color: rgb(33, 123, 196);/*barva ctverce*/
    margin-top: 30px;/*odsazeni ctverce*/
    display: flex;/*flexibilni*/
    padding: 20px ;/*Ohraniceni*/
}
.bigbox1{
    height:auto;/*vyska ctverce*/
    border-radius: 25px;/*zaobleni okraje*/
    background-color: rgb(33, 123, 196);/*barva ctverce*/
    margin-top: 30px;/*odsazeni ctverce*/
    padding: 20px;/*Ohraniceni*/
    
}
.bigboxgg{
    height:1000px;/*vyska ctverce*/
    
    background-color: rgb(36, 37, 35);/*barva ctverce*/
    margin-top: 30px;/*odsazeni ctverce*/
    
}
.endbox{
    height:50px;/*vyska ctverce*/
    border-radius: 10px;/*zaobleni okraje*/
    background-color: rgb(33, 123, 196);/*barva ctverce*/
    margin-top: 30px;/*odsazeni ctverce*/

}
.text1{
    color: white;/*barva textu*/
    padding: 25px;/*mezera kolem textu*/
    

}
.text2{
color:white;/*barva textu*/
text-align: center;/*zarovnani textu doprostred */

}

.size{
    font-size: 45px;/*velikost textu*/
}